AZURE_DOCINTEL_ENDPOINT=https://prior-auth-ocr.cognitiveservices.azure.com/
AZURE_DOCINTEL_KEY=<<key removed for security reasons>>

AZURE_SEARCH_ENDPOINT=https://priorauthflowaisearch.search.windows.net
AZURE_SEARCH_KEY=<<key removed for security reasons>>
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small
AZURE_OPENAI_ENDPOINT=https://azureopenaisample55.openai.azure.com/
AZURE_OPENAI_KEY=<<key removed for security reasons>>
AZURE_OPENAI_DEPLOYMENT=gpt-5-mini